{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Kudobuzz Asker - Quiz QUestions {% endblock %}
{% block head %} 

{% endblock %} 



{% block main %} 

	<h4 class="que-no" style="padding-left: 10px;">Question {{question.slug}}</h4>
	<div class="login-panel panel panel-default">
		<div class="panel-heading">{{question.question_text}}</div>
		<div class="panel-body">
			<form role="form" action="/basic-shopify/{{next_url}}/" method="post">
				<fieldset>
					{% csrf_token %}
				    {% for choice in choices %}
				    <div class="radio">
					  <label>
					    <input type="radio" name="answer" id="answer" required value="{{choice.is_right}}">
					    {{choice.choice_text}}
					  </label>
					</div>
				    <!-- <label class="radio"><input type="radio" name="answer" required value="{{choice.is_right}}"> {{choice.choice_text}}</label><br> -->
				    {% endfor %}
					<input type="submit" class="btn btn-primary" value="Next" style="margin-top: 15px; margin-bottom: 7px;">
					<!-- <a href="index.html" class="btn btn-primary">Login</a> -->
				</fieldset>
			</form>
		</div>
	</div>


{% endblock %} 


